<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="digest-card">
  <div class="digest-date">
    <%= digest.created_at.strftime("%d %b, %Y") %>
  </div>
  <% digest.articles.each do |article| %>
    <div class="article">
      <div class="title">
        <p><%= article.title %></p>
      </div>
      <div class="description">
        <p><%= article.description %></p>
      </div>
      <div class="url">
        <a href="<%= article.url %>"  target="_blank"><%= article.url %></a>
      </div>
      <div class="share">
        <div class="share-button">
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= article.url %>" class="fa fa-facebook" target="_blank">
          </a>
        </div>
        <div class="share-button">
          <a href="https://twitter.com/share?url=<%= article.url %>" class="fa fa-twitter" target="_blank">
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<style media="screen">
.digest-card {
  flex-direction: column;
  margin: 0 3% 3% 0;
  min-height: 20vh;
  height: auto;
  overflow: scroll;
  opacity: 0.8;
  box-shadow: none;
  justify-content: flex-start;
  border: 0.1vw solid #efefef;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}

.digest-date {
  margin: 1% 1% 0 1% ;
  color: #602c25;
  font-size: 1.2vw;
  height: auto;
  padding-left: 0.5vw;
  border: 0.05vw solid #efefef;
}

.article {
  flex-direction: column;
  min-height: 10vh;
  height: auto;
  margin: 1%;
  border: 0.1vw solid #efefef;
  background: #fff;
}

.title {
  margin: 1% 1% 0% 1%;
  color: #000;
  font-size: 1vw;
  font-family: 'Ubuntu';
  min-height: 1vh;
}

.description {
  margin: 1% 1% 0% 1%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9vw;
  min-height: 1vh;
}

.url {
  margin: 1% 1% 0% 1%;
  font-size: 0.8vw;
  font-style: italic;
  min-height: 1vh;
  border: 0.1vw solid #efefef;
  border-bottom: none;
  border-top: none;
  border-left: none;
}

.url a {
  color: #3b5998;
}

a {
  outline: none;
  text-decoration: none;
}

.share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 1% 1% 1%;
  font-size: 1vw;
  font-family: 'Ubuntu';
  min-height: 1vh;
  border: 0.1vw solid #efefef;
  border-top: none;
  border-left: none;
}

.share-button {
  margin: 0;
  width: 1.5vw;
  font-size: 1vw;
}

.share-button .fa-facebook {
  color: #3b5998;
}

.share-button .fa-twitter {
  color: #326ada;
}
</style>
